<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>联系我们</title></%block>

<section class="container about">
  <nav>
    <a href="/about">${_("Vision")}</a>
    <a href="/faq">${_("Faq")}</a>
    <a href="/contact" class="active">${_("Contact")}</a>
  </nav>

  <section class="contact">
    <div class="photo">
      <img src="${static.url('themes/eduStack-theme/images/bistux-display.jpg')}">
    </div>
    <div class="contacts">
        <section>
          <h2>联系方式</h2>
          <p>北京外国语大学</p>
          <p>地址：北京市海淀区北京外国语大学信息技术中心</p>
          <p>邮编：100089</p>

          <p>E-mail：webmaster@bfsu.edu.cn</p>
        </section>
    </div>
  </section>
</section>

