<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>联系我们</title></%block>

<section class="container about">
  <nav>
    <a href="/about">${_("Vision")}</a>
    <a href="/faq">${_("Faq")}</a>
    <a href="/contact" class="active">${_("Contact")}</a>
  </nav>

  <section class="contact">
    <div class="photo">
      <img src="${static.url('themes/eduStack-theme/images/bistux-display.jpg')}">
    </div>
    <div class="contacts">
        <section>
          <h2>联系方式</h2>
          <p>北京信息科技大学</p>
          <p>地址：北京市朝阳区北四环中路35号北京信息科技大学（健翔桥）信息网络中心</p>
          <p>邮编：100000</p>

          <p>E-mail：project@iflab.org</p>
        </section>
    </div>
  </section>
</section>

