<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%namespace name='static' file='../static_content.html'/>

<%block name="pagetitle">${_("Courses")}</%block>
<%! from microsite_configuration import microsite %>

<section class="find-courses">

<%
  course_index_overlay_text = microsite.get_value('course_index_overlay_text', _("Explore free courses from leading universities."))

  # not sure why this is, but if I use static.url('images/edx_bw.png') then the HTML rendering
  # of this template goes wonky

  logo_file = microsite.get_value(
    'course_index_overlay_logo_file', settings.STATIC_URL + 'images/edx_bw.png')
%>

    <section class="container courses-container">
        <div>
            <header>
                <span>课程列表</span>
            </header>
            <section class="highlighted-courses">
                % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
                <section class="courses">
                    <ul class="courses-listing">
                        %for course in courses:
                        <li class="courses-listing-item">
                            <%include file="../course.html" args="course=course" />
                        </li>
                        %endfor
                    </ul>
                </section>
                % endif

            </section>
        </div>
    </section>
</section>
