
@import "eduStack-base";

$_buttonBackgroundColor: #1790c7;

header.global {

  $_hHeaderHeight: 60px;
  $_xHeaderHeight: 74px;
  $_maxHeaderHeight: 99px;

  height: auto;
  max-height: $_maxHeaderHeight;
  width: 100%;
  max-width: 100%;
  overflow: visible;
  margin: 0;
  padding: 0;
  font-size: $xFontSize;
  border: none;

  a, a:hover, a:visited, a:active {
    text-decoration: none;
    cursor: pointer;
  }

  &.slim nav h2 {
    float: none;
    width: auto;
    display: inline-block;
    margin-left: 1rem;
  }

  nav {

    $_height: $_xHeaderHeight;

    height: $_height;
    line-height: $_height;
    margin: 0 auto;
    padding: 0;
    max-width: $gMaxContentWidth;
    min-width: $gMinPageWidth;

    @include screenIs(isWide) {
      height: $_maxHeaderHeight;
      line-height: $_maxHeaderHeight;
    }

    @include screenIs(belowDesktop) {
      height: $_xHeaderHeight;
      line-height: $_xHeaderHeight;
    }

    @include screenIs(isPhone) {
      padding: 1rem 0;
    }

    .logo {
      display: inline-block;
      @include screenIs(belowDesktop) {
        margin-left: 0.4rem;
      }
    }

    .header-links {
      float: right;
      height: 100%;
      display: inline-block;
      margin-right: 0.4rem;

      section {
        height: 100%;
        display: inline-block;
      }

      .header-courses-search {
        margin-right: 6rem;
        float: left;

        @include screenIs(belowWide) {
          margin-right: 3rem;
        }

        @include screenIs(belowDesktop) {
          display: none;
        }

      }

    }

    // if has already login
    .header-login-authenticated {

      .user {
        margin: 0;
        .primary > a {
          background-image: none;
        }

        .dropdown-menu {
          top: 73%;
          right: -5px;
        }
      }

    }

    // if do not login
    .header-login-container {

      $_mButtonSize: 4em;
      $_hButtonSize: 4em;
      $_xButtonSize: 5em;

      a {
        display: inline-block;
        width: 100%;
        height: 2em;
        line-height: 2em;
        text-align: center;

        &.cta-login {
          background-color: $_buttonBackgroundColor;
          box-shadow: 0 1px 1px 0 #0a4a67;
          border-radius: 0.3rem;
          color: white;
        }

      }

      div {
        display: inline-block;
        width: $_xButtonSize;
        height: 100%;
        &.right {
          width: inherit;
          margin: 0 0.4rem;
          @include screenIs(belowDesktop) {
            width: $_mButtonSize;
          }
        }

        &.left {
          margin-right: 2rem;
          @include screenIs(isPhone) {
            margin-right: 0;
          }
          @include screenIs(belowWide) {
            width: $_hButtonSize;
          }
        }
      }
    }
  }
}

// 修正注册页面页头宽度
.view-register header.global nav,
.view-login header.global nav {
  width: inherit;
}
