/***
 * Global settings
 ***/

$gFontSize: 12px;
$gPhoneWidth: 540px;
$gTabletWidth: 768px;
$gWidth: 970px;
$gMaxPageWidth: 1180px;
$gMinPageWidth: 360px;

$mFontSize: 12px;
$hFontSize: 14px;
$xFontSize: 16px;


