/***
 * Global settings
 ***/

$gFontSize: 14px;
$gPageMaxWidth: 1200px;
$gMaxContentWidth: 1180px;
$gPageMinWidth: 320px;

$gWidth: 1200px;

$mFontSize: 12px;
$hFontSize: 14px;
$xFontSize: 16px;

$gBackgroundColor: #FFFFFF;
$gButtonBgColor: #1790C7;

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

%subtitleStyle {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  color: #666;
}

$phone-range: (0, 767px) !default;
$pad-range: (768px, 992px) !default;
$desktop-range: (993px, 1200px) !default;
$wide-range: (1201px, 99999em) !default;

@function lower-bound($range) {
  @if length($range) <= 0 {
    @return 0;
  }
  @return nth($range, 1);
}

@function upper-bound($range) {
  @if length($range) < 2 {
    @return 999999999999;
  }
  @return nth($range, 2);
}

@mixin screenIs($size) {
  @if $size == isPhone {
    @media screen and (max-width: #{upper-bound($phone-range)})  {
      @content;
    }
  }
  @else if $size == isPad {
    @media (min-width: #{lower-bound($pad-range)}) and (max-width: #{upper-bound($pad-range)}) {
      @content;
    }
  }
  @else if $size == isDesktop {
    @media (min-width: #{lower-bound($desktop-range)}) and (max-width: #{upper-bound($desktop-range)}) {
      @content;
    }
  }
  @else if $size == isWide {
    @media screen and (min-width: #{lower-bound($wide-range)}) {
      @content;
    }
  }
  // phone
  @else if $size == belowPad {
    @media (max-width: #{upper-bound($phone-range)})  {
      @content;
    }
  }
  // phone, pad
  @else if $size == belowDesktop {
    @media (max-width: #{upper-bound($pad-range)}) {
      @content;
    }
  }
  // phone, pad, desktop
  @else if $size == belowWide {
    @media (max-width: #{upper-bound($desktop-range)}) {
      @content;
    }
  }
  // pad, desktop, wide
  @else if $size == overPhone {
    @media (min-width: #{lower-bound($pad-range)})  {
      @content;
    }
  }
  // desktop, wide
  @else if $size == overPad {
    @media (min-width: #{lower-bound($desktop-range)}) {
      @content;
    }
  }
  // wide
  @else if $size == overDesktop {
    @media (min-width: #{lower-bound($wide-range)}) {
      @content;
    }
  }
  @else {
    @error 'No value found for `#{$size}`, please check your parameter!';
  }
}

a:focus {
  outline: none;
}

