/****************************************************************************************************
*   Stanford theme File
*
*   Contains all the theme color definitions for the eduStack Open Source MOOC Project
*
****************************************************************************************************/

@import "eduStack-base";
@import "eduStack-header";
@import "eduStack-footer";
@import "eduStack-body";

html, body {
  font-size: $gFontSize !important;
}

body {
  background-color: $gBackgroundColor;
}

.window-wrap {

  width: 100%;
  min-width: $gPageMinWidth;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .content-wrapper {
    padding: 0;
  }
}

.unlist {
  list-style: none;
  margin: 0;
  padding: 0;
}





