
@import "eduStack-base";

// for index
@import "index";

#content {

  .course-profile {
    background-color: inherit;
    margin: 0;
    padding: 0;
  }

  .course-info {

    header.course-profile {
      margin: 0;
      padding: 0;
      height: 360px;
      background-color: inherit;

      .intro-inner-wrapper {
        box-shadow: none;
        border: none;
        height: 100%;
        background-color: inherit;
        max-width: $gMaxContentWidth;

        .table {
          height: 100%;

          .intro {
          }

          .media {
            padding: 0;
            height: 100%;

            .hero {
              @include border-box;
              border-width: 0 1px;
              border-color: rgba(100, 100, 100, 0.22);
              height: 100%;
              width: 340px;
              float: right;
              margin-right: 1rem;

              .course-image-outer {
                margin: 0 10px 10px 10px;
                text-align: center;
                overflow: hidden;
                padding-top: 10px;

                & > img {
                  display: inline;
                  max-height: 160px;
                }

              }

              .course-summary {
                padding-left: 20px;
                @include border-box;

                header {
                  padding: 1em 0;
                  position: relative;
                  text-align: center;

                  .social-sharing {

                    $height: 4em;

                    @include border-box;
                    height: $height;
                    position: relative;
                    text-align: center;
                    width: 100%;
                    z-index: 2;
                    float: none;
                    padding-top: 1em;

                    &:hover {
                      .sharing-message {
                        display: block;
                      }
                    }

                    .sharing-message {
                      display: none;
                      @include border-box;
                      background-image: linear-gradient(-90deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.7) 100%);
                      border: 1px solid rgba(0,0,0,0.5);
                      border-radius: 4px;
                      box-shadow: 0 4px 25px 0 rgba(0,0,0,0.5);
                      color: #fff;
                      float: right;
                      font-family: Georgia,Cambria,"Times New Roman",Times,serif;
                      font-size: 0.9em;
                      font-style: italic;
                      left: 50%;
                      margin-left: -110px;
                      padding: 6px 10px;
                      position: absolute;
                      text-align: center;
                      transition: all 0.15s ease-out 0s;
                      top: 65px;
                      width: 220px;
                    }

                    .share {
                      height: $height;
                      display: inline-block;
                      margin-right: 10px;
                      opacity: 0.5;
                      transition: all 0.15s linear 0s;
                      width: 44px;
                      cursor: pointer;

                      & > i {
                        font-size: 2.6em;
                        color: #000;
                      }
                    }
                  }
                }
              }

              .important-dates {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                  font-size: 16px;
                  height: 1.4em;
                  line-height: 1.4em;

                  & > i,
                  & > p,
                  & > span {
                    display: inline-block;
                    padding-left: 20px;
                  }

                }

              }

            }

          }

        }

        hgroup {
          border: none;
          a {
            margin: 0;
            font: 800 0.6em/1em "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      .main-cta {

        a.register {

          $color: #55C2F2;

          border: 1px solid darken($color, 50%);
          color: $gTextColor;
          font-size: 22px;
          padding: 30px;
          float: left;
          background: none;
          box-shadow: none;
          text-shadow: none;
          border-radius: 0;

          &:hover {
            background: $gButtonHoverBgColor none;
            color: $gButtonHoverColor;
          }
        }

        & > a {

          & > span {
            cursor: not-allowed;
          }

          & > strong {
            box-shadow: none;
            text-shadow: none;
            border-radius: 0;
            background-image: none;
          }
        }

      }
    }
  }
}










