
@import "eduStack-base";

.page-footer {

  font-size: $gFontSize;
  width: 100%;
  padding: 25px 0 30px;
  margin-top: 2rem;
  @include screenIs(belowDesktop) {
    overflow-x: hidden;
    margin: 0;
  }

  // footer style
  footer {
    min-width: $gPageMinWidth;
    max-width: $gMaxContentWidth;
    margin: 0 auto;
    width: 100%;

    @include screenIs(belowDesktop) {
      padding: 0.4rem 1rem;
      min-width: 80%;
    }

    a, a:hover, a:active, a:visited {
      text-decoration: none;
      cursor: pointer;
      border: none;
    }


    .footer-site-info {

      @include screenIs(overPad) {
        float: left;
        max-width: inherit;
        min-width: inherit;
        nav {
          font-size: $xFontSize;
        }
      }

      @include screenIs(belowDesktop) {
        width: 100%;
        float: none;
      }

      .nav-colophon {
        margin-bottom: 1rem;

        // nav list style
        ul li {
          float: left;
          margin-right: 1em;
          a {
            color: #333;
          }
        }
      }

      .colophon-about {
        section {
          line-height: 1.4;
          margin: 0.5rem 0;
        }

        .nav-legal {

          ul {

            list-style: none;
            margin: 0;
            padding: 0;
            @include clearfix;

            li {
              float: left;
              margin-right: 1em;
              font-size: 0.9rem;
            }

          }

        }

      }
    }

    .footer-item {
      overflow: hidden;
    }

    .footer-socials {
      $_socialNumber: 4;
      @include screenIs(overPad) {
        float: right;
        .footer-social-group ul {
          text-align: right;
        }
      }
      @include screenIs(belowDesktop) {
        width: 100%;
        margin-top: 2rem;
        .footer-social-group ul {
          text-align: center;
        }
      }
      ul {
        li {
          display: inline-block;
          margin-left: 1rem;
          a {
            display: inline-block;
            width: 4rem;
            height: 4rem;
            @include screenIs(isPad) {
              width: 3.4rem;
              height: 3.4rem;
            }
            @include screenIs(isPhone) {
              width: 3rem;
              height: 3rem;
            }
            img {
              width: 100%;
              max-width: 100%;
              -webkit-filter: grayscale(100%);
              filter: grayscale(100%);

              &:hover {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
              }
            }
          }
        }
      }

      .footer-open-edx {
        margin-top: 1rem;
        height: 2rem;
        line-height: 2rem;
        text-align: right;
        @include screenIs(belowDesktop) {
          text-align: center;
        }
        a {
          display: inline-block;
          height: 1.4rem;
          max-height: 100%;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
}

