/**************************************
 * For index page
 * @date 2015/01/29
 * @author Allen
 **************************************/

@import "eduStack-base";

//$partnerBackgroundColor: rgba(175, 217, 24, 0.77);
$bannerBackgroundColor: $gButtonBgColor;

.content-wrapper {

  max-width: inherit;
  max-height: inherit;

  .find-course {
    background-color: inherit;
  }

  .banner {

    $moreBtnBgColor: lighten($gButtonBgColor, 10%);

    margin: 0;
    padding: 0;
    background-color: $bannerBackgroundColor;
    $_color: white;

    .banner-course-wrapper {
      max-width: $gPageMaxWidth;
      width: 100%;
      margin: 0 auto;
      padding: 4rem 2rem;
      min-height: 10rem;
      @include border-box;

      // font color is white
      span, a {
        color: $_color;
      }

      .left {
        float: left;
      }

      .right {
        float: right;
      }

      .half-box {
        width: 50%;

        @include screenIs(isPhone) {
          width: 100%;
          float: none;
        }

      }

      .banner-course-title {
        font-size: 2.2rem;
        font-weight: bold;
      }

      .banner-course-description {
        margin: 1rem 0;
        font-size: $hFontSize;
      }

      .banner-course-more {

        margin-top: 2rem;
        text-align: left;

        @include screenIs(isPhone) {
          text-align: center;
        }

        a, a:hover, a:active, a:visited {
          color: $_color;
          text-decoration: none;
          cursor: pointer;
        }

        a {
          display: inline-block;
          padding: 0.8rem 1rem;
          margin: 0.2rem;
          height: 1.8rem;
          line-height: 1.8rem;
          font-size: 1.3rem;
          font-weight: bold;
          border: 1px solid $_color;
          background-color: $moreBtnBgColor;
          text-align: center;

          &:hover {
            background-color: $gButtonBgColor;
          }

        }

      }

      .banner-course-image-wrapper {
        float: right;
        width: 70%;
        margin: 1rem auto;
        background-color: aquamarine;
        position: relative;
        height: 16rem;

        @include screenIs(isDesktop) {
          width: 80%;
          height: 14rem;
        }
        @include screenIs(isPad) {
          width: 86%;
          height: 12rem;
        }
        @include screenIs(isPhone) {
          width: 90%;
          height: 15rem;
          float: none;
          margin-bottom: 3rem;
        }

        img.banner-course-image {
          max-width: 100%;
          width: 100%;
          max-height: 100%;
          height: 100%;
        }

        $_playerButtonWidth: 40px;
        a.media {
          width: $_playerButtonWidth;
          height: $_playerButtonWidth;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -($_playerButtonWidth / 2);
          margin-top: -($_playerButtonWidth / 2);

          &:hover, &:active, &:visited {
            text-decoration: none;
            border: none;
            cursor: pointer;
          }

          img {
            width: 100%;
            height: 100%;
          }

        }

      }

    }

  }

  // override edx default style!
  .container {
    min-width: inherit;
    min-height: inherit;
  }

  .courses-container {
    max-height: inherit;
    width: 100%;
    max-width: $gMaxContentWidth;
    margin: auto;
    padding: 0 1rem;

    @include screenIs(isPad) {
    }
    @include screenIs(isPhone) {
    }

    &>div {
      padding: 0;
    }

    header {
      font-size: 1.7rem;
      padding: 3rem 0 2rem;
      text-align: center;

      & > span {
        @extend %subtitleStyle;
      }

      @include screenIs(belowDesktop) {
//        font-size: 2rem;
        padding: 3rem 0;
      }

      @include screenIs(isPhone) {
        padding: 2rem 0;
      }

    }

    /***
     * for course list
     ***/
    section.courses {

      padding: 0 0 2rem 0;

      ul.courses-listing {

        $listBorderColor: #CCC;

        li {
          overflow: hidden;
          width: calc(25% + 1px);
          min-width: 280px;
          max-width: 320px;
          padding: 10px 5px 1rem;
          @include border-box;
          border: 1px solid $listBorderColor;
          margin: 0 0 -1px -1px;

          @include screenIs(isDesktop){
            width: calc(percentage(1 / 3) + 1px);
          }
          @include screenIs(isPad) {
            width: calc(50% + 1px);
          }
          @include screenIs(isPhone) {
            width: 100%;
            max-width: 100%;
          }

          article {
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
            border: none;
            box-shadow: none;
            background-color: inherit;

            .course-wrapper {
              overflow: hidden;
              max-width: 100%;
            }

            .course-cover-image {
              max-width: 100%;

              @include screenIs(belowWide) {
                width: 24rem;
              }

              img {
                max-width: 100%;
                width: 100%;
                min-width: 100%;
                height: 13rem;
                max-height: 14rem;
                overflow: hidden;
              }
            }

            .course-description {
              padding: 0.4rem 1rem 1.2rem;
              overflow: hidden;

              a span {
                font-weight: bold;
              }

            }

            .course-location {

              height: 2rem;
              line-height: 2rem;

              .course-university {
                display: inline-block;
                float: left;
                font-size: 1.2rem;
                font-weight: bold;
              }

              .course-code {
                display: inline-block;
                float: right;
                color: #888;
              }

            }

            .course-title {
              font-size: 1.2rem;
              font-weight: bold;
              overflow: hidden;
              white-space: nowrap;
              color: #212121;
            }

            .course-status {
              color: #888;
            }

            .course-start-date {
              color: #AAA;
            }
          }
        }
      }
    }
  }
}


/*********************/
// For partner section
/*********************/
.partner {
  $bgColor: #F0F0F0;

  width: 100%;
  height: 100%;
  padding: 3rem 0 5rem;
  background-color: $bgColor;

  $_partnerNumber: 3;

  .partner-title {
    text-align: center;
    span {
      @extend %subtitleStyle;
    }
  }

  .partner-list-wrapper {

    width: 50%;
    margin: 3rem auto 0;

    @include screenIs(belowWide) {
      width: 60%;
    }

    @include screenIs(belowDesktop) {
      width: 70%;
      ul li a {
        width: 50%;
      }
    }

    @include screenIs(isPhone) {
      width: 80%;
      ul li a {
        width: 60%;
      }
    }

    ul {
      width: 100%;

      li {
        display: inline-block;
        width: percentage(1/$_partnerNumber - 0.02);
        margin: 0;
        padding: 0;
        text-align: center;

        a {
          display: inline-block;
          width: 40%;
          margin: 0 auto;

          &, &:hover, &:active, &:visited {
            text-decoration: none;
            cursor: pointer;
          }

          img {
            width: 100%;
            max-width: 100%;
            height: auto;
          }

        }

      }

    }

  }

}

