## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper page-footer" id="eduStackPageFooter">
  <footer class="clearfix">
      <div class="colophon footer-item footer-site-info">
          <nav class="nav-colophon">
              <ul class="unlist clearfix">
                  <li class="nav-colophon-01">
                      <a id="about" href="${marketing_link('ABOUT')}">
                          ${_("About")}
                      </a>
                  </li>
                  <li class="nav-colophon-05">
                      <a id="contact" href="${marketing_link('CONTACT')}">
                          ${_("Contact")}
                      </a>
                  </li>
                  <li class="nav-colophon-04">
                      <a id="faq" href="${marketing_link('FAQ')}">
                          ${_("FAQ")}
                      </a>
                  </li>
              </ul>
          </nav>

          <div class="colophon-about"><section><b>BistuX</b>由北京信息科技大学<a href="http://iflab.org">ifLab</a>社团基于<b>Open edX</b>平台开发并维护</section>
              <section class="copyright">${_("&copy; 2015 {platform_name}.").format(platform_name=settings.PLATFORM_NAME)}</section>
              <nav class="nav-legal">
                  <ul>
                      <li class="nav-legal-01">
                          <a href="/tos" target="_blank">服务条款</a>
                      </li>
                      <li class="nav-legal-01">
                          <a href="/honor" target="_blank">诚信准则</a>
                      </li>
                      <li class="nav-legal-02">
                          <a href="/privacy" target="_blank">隐私政策</a>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>

      <div class="footer-item footer-socials">
          <div class="footer-social-group">
              <ul class="unlist">
                  <li>
                      <a href="http://weibo.com/iflab" target="_blank">
                          <img src="${static.url('themes/eduStack-theme/images/icon_weibo.png')}" alt="新浪微博"/>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="${static.url('themes/eduStack-theme/images/icon_renren.png')}" alt="人人"/>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="${static.url('themes/eduStack-theme/images/icon_weixin.png')}" alt="微信"/>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <img src="${static.url('themes/eduStack-theme/images/icon_txwb.png')}" alt="腾讯微博"/>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="footer-open-edx">
              <a href="http://openedx.org" target="_blank">
                  <img src="${static.url('themes/eduStack-theme/images/icon_open_edx.png')}" alt="OpenEdx"/>
              </a>
          </div>
      </div>
  </footer>
</div>

